* {
	margin: 0;
	padding:0 ;
}
.container {
	margin: auto;
	width: 75%;
	text-align: center;
	padding-top :10%;
	padding-bottom :10%;
}
.image {
	display: inline;
}
.about {
	display: inline-block;
	width: 430px;
	margin: 15px;
}
.take {
	display: inline-block;
	width: 430px;
	margin: 15px;
}
.content_2{
	display: inline;
}
.picture_1 {
	width: 450px;
	margin: 15px;
	height: 200px;
}
.picture_2 {
	width: 450px;
	height: 200px;
	margin: 15px;
}
footer {
	text-align: center;
	background-color: black;
	padding: 25px;
	color: white;
}
.footer-font {
	color: gray;
}
.content_2 {
	display: inline-block;
}
.bottom-header {
	text-align: center;
	padding-top: 9%;
}
.menu {
	display: inline;
	list-style-type: none;
	padding: 5px;
	text-align: center;
}
header {
	position: relative;
	background-image: url('./materials/header.jpg');
	background-repeat: no-repeat;
	height: 600px;
	background-size: cover;
	object-fit: cover;
	background-position: center;
	color: white;
}
header ul {
	position: absolute;
	right: 0;
	transform: translateY(-50%);
	padding-right: inherit;
	float:left;
}
span:hover {
	transition 0.3s;
	color: black;
	background-color: #66ff66;
}
.border {
	padding: 10px 15px;
	border: 1px solid black;
	border-radius: 75px;
	background-color	:  #79d2a6;
}
button:hover{
	cursor: pointer;
	opacity: 0,6;
}
.headline-we-research {
	font-size: 30px
}
.label {
	font-size: 40px;
}
.heading {
	font-size: 50px
}
