.container-background {
	padding: 7%;
	background-color: #2f8cba;
}
.container-grid {
	background-color: white;
	display: grid;
	grid-template-columns: 72% 28%;
}
.button_1 {
	color: white;
	background: green;
	height: 50px;
	width: 90%;
}
.button_2 {
	height: 50px;
	width: 90%;
}
.box-text {
	width: 90%;
}
.label-border {
	color: #fff;
	position: absolute;
	top: 70%;
	background-color: black;
	opacity: 0.6;
	height: 20%;
	width: 25%;
	left: 10%;
	padding-left: 2%;
}