body{
	background-color: ;
}
.box{
	width:50%;
	border: 3px dotted black;
	background-color: cornsilk;
	margin: 15px 15px;
	padding: 15px 15px 15px 15px;
	margin-left: 25%;
	margin-right: 25%;
}
.footer{
	background-color: #0ff;
	border: 1px solid black;
	border-radius: 15px 15px 15px 15px;
	width: 250px;
	padding: 15px;
	text-align: center;
}
