.container {
	padding-top: 5%;
	padding-left: 35%;
	padding-right: 35%;
	padding-bottom: 5%;
	background-image: url('icon/OIP 1.jpg');
	background-attachment: no-repeat;
	background-size: cover;
}
.container-box {
	background-color: white;
	border: solid blue 12px;
	height: 600px;
	padding-top: 5%;
}
.button-google{
	width: 30%;
	background-color: red;
	height: 40px;
	color: white;
	border: solid 1px red;
}
.button-facebook{
	width: 30%;
	background-color: blue;
	height: 40px;
	color: white;
	border: solid 1px blue;
}
.button-call{
	width: 30%;
	background-color: green;
	height: 40px;
	color: white;
	border: solid 1px green;
}
.text:after {
	content: "*";
	color: red;
}
.button-login {
	width: 90%;
	height: 40px;
}
.button-create {
	width: 90%;
	height: 40px;
}
.email-box {
	width: 90%;
	height: 40px;
}
.password-box {
	width: 90%;
	height: 40px;
}
.text-center {
	float: left;
	margin-left: 5%;
}
.forgot-password {
	float: right;
	margin: 5%;
}